/* Common CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: #F5F8FF; */
}


/* nav bar */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green */
    margin-top: 30px;
    margin-bottom: 120px;
    height: 70px;
}
.nav img{
    width: 135px;
    height: 70px;
}
.nav-items{
    display: flex;
    gap: 10px;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    text-decoration: none;
    color: black;
}
/* hero section */
.hero{
    display: flex;
    /* border: 1px solid red; */
}
.hero-left{
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.hero-left h1{
    font-size: 65px;
    font-weight: 650px;
    margin-bottom: 30px;
}
.colored-text{
    color: #E95A08;
}
.hero-left p{
    font-size: 22px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}
.hero-right{
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* plants section styles */
.plants{
    margin-top: 120px;
}
.plants h1{
    font-size: 50px;
    font-weight: 700px;
    text-align: center;
}
.plants p{
    font-size: 22px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-area: 30px;
}
.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card img{
    width: 100%;
    height: 323px;
    border: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card p{
    font-size: 22px;
    font-weight: 400;
    color: #111111;
}
.card h3{
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    text-align: center;
}

.btn{
    background-color: #E95A08;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 20px;
}

/* plants and flower lovers section styles */
.lover{
    display: flex;
    justify-content: space-between;
}
.lover-left{
    width: 540px;
    height: 600px;
    border: 1px solid green;
}
.lover-right{
    width: 540px;
    height: 600px;
    border: 1px solid red;
}